<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.js">
    <link href = "https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="..icons/all.css">
</head>
<body>
        <header>
            <img src="../img/centro_user.png" alt="logo" width="270px" height="80px" class="logo-Principal">
            <nav>
                <input class="menu_visible" type="checkbox" id="btn-menu">
                <label class="menu-h" for="btn-menu">&#9776</label>
                <ul class="menu">
                    <li><a href="index.ejs">NOSOTROS</a></li>
                    <li><a href="index.ejs">ACERCA DE</a></li>
                    <li><a href="index.ejs">AYUDA</a></li>
                    <li><a href="../views/registro.ejs"><span class="registrar" >EVELIN</span></a></li>
                </ul>
            </nav>
        </header>
        <div class="diy-f-spot  " style="border-radius: 0px; padding: 15vh 15vh 15vh 15vh; 
        background-repeat: repeat;-ms-border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;-o-border-radius: 0px;background-image: url('https://irp-cdn.multiscreensite.com/910384b4/DESKTOP/png/1237735-portada.png');">
            <div class="diy-f-spot-inner">
                <div class="horizontal clearfix" style="background-image: url('https://irp-cdn.multiscreensite.com/910384b4/DESKTOP/png/1237741-1228236-dots-texture.png');background-repeat: repeat;margin: 0px 0px 0px 0px;padding: 40px 0px 40px 0px;"><div class="diy-splitter-inner clearfix"><div class="vertical" style="width: 17%;"><p></p></div><div class="vertical" style="width: 66%;"><div class="widget-wrapper widget-element free-image diy-resizable ">
        
                <div id="widget-id-2933779" class="widget-body ">
                <div class="freetext-image  " style=" margin:auto; text-align:center; justify-content:center;">
            <div class="image_wrapper diy-icss-target">    
                        <div class="diy-fi-container diy-fi-effect-0">
                            <img id="1237739" style="max-width:20%;" src="http://www.sena.edu.co/Style%20Library/alayout/images/logoSena.png" alt="Logo sena" class="image lazy">
                                </div>
                            </div>
            </div>
        <div class="clear"></div>
        
            </div>
        </div>

        
        <div class="widget-wrapper widget-element free-text diy-resizable ">
        
                <div id="widget-id-2779763" class="widget-body " style="text-shadow: 1px 1px 5px #3d3c3c; margin: 0px 20px 0px 20px">
                <div class="freetextarea">	
            <h1 style="text-align: center;"><span style="font-size:36px;"><span style="color: #ffffff">SENA EMPRESA </span></span></h1></div>
        <div class="clear"></div>	</div>
        </div>
        
        
        <div class="widget-wrapper widget-element free-text diy-resizable ">
        
                <div id="widget-id-2779764" class="widget-body " style="margin: -10px 0px 0px 0px; text-shadow: 1px 1px 7px #3d3c3c">
                <div class="freetextarea">	
            <div style="text-align: center;"><span style="color:#FFFFFF;">Ahora <strong></strong>, con el fin de lograr una implementación general de la estrategia en el Centro de Formación Agropecuario del SENA</span><br></div></div>
        <div class="clear"></div>	</div>
        </div>
        
        
        <div class="diy-f-spot  " style="border-radius: 0px;background-repeat: repeat;-ms-border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;-o-border-radius: 0px;">
            <div class="diy-f-spot-inner">
                <div class="horizontal clearfix" style="margin: 10px 20px 20px 20px;"><div class="diy-splitter-inner clearfix"><div class="vertical" style="width: 50%;">
                    <div class="widget-wrapper widget-element button diy-resizable ">
        
                    <a href="../"><span style="font-family: arial;font-size: 15px;font-weight: normal;font-style: normal;border: 1px solid #3e9e5d;-webkit-border-radius: 37px;-moz-border-radius: 37px;border-radius: 37px;background: -webkit-linear-gradient(#3e9e5d,#3e9e5d);background: -o-linear-gradient(#3e9e5d,#3e9e5d);background: -moz-linear-gradient(#3e9e5d,#3e9e5d);background: -ms-linear-gradient(#3e9e5d,#3e9e5d);background: linear-gradient(#3e9e5d,#3e9e5d);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e9e5d, endColorstr=#3e9e5d ,GradientType=0);color: #ffffff;-moz-box-shadow: 0px 1px 0px 0px #3e9e5d;-webkit-box-shadow: 0px 1px 0px 0px #3e9e5d;box-shadow: 0px 1px 0px 0px #3e9e5d;text-shadow: 0px 1px 0px #3e9e5d;padding-top: 11px;padding-bottom: 11px;padding-right: 24px;padding-left: 24px;text-align:center;cursor:pointer;display: inline-block;" onmouseover="this.style.background='linear-gradient(#3e9e5d,#3e9e5d)';this.style.filter='progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e9e5d, endColorstr=#3e9e5d ,GradientType=0);'" ;="" onmouseout="this.style.background='linear-gradient(#3e9e5d,#3e9e5d)';this.style.filter='progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e9e5d, endColorstr=#3e9e5d ,GradientType=0);'">Ver productos</span></a>
                     
                     <span style="font-family: arial;font-size: 15px;font-weight: normal;font-style: normal;border: 1px solid #3e9e5d;-webkit-border-radius: 37px;-moz-border-radius: 37px;border-radius: 37px;background: -webkit-linear-gradient(#3e9e5d,#3e9e5d);background: -o-linear-gradient(#3e9e5d,#3e9e5d);background: -moz-linear-gradient(#3e9e5d,#3e9e5d);background: -ms-linear-gradient(#3e9e5d,#3e9e5d);background: linear-gradient(#3e9e5d,#3e9e5d);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e9e5d, endColorstr=#3e9e5d ,GradientType=0);color: #ffffff;-moz-box-shadow: 0px 1px 0px 0px #3e9e5d;-webkit-box-shadow: 0px 1px 0px 0px #3e9e5d;box-shadow: 0px 1px 0px 0px #3e9e5d;text-shadow: 0px 1px 0px #3e9e5d;padding-top: 11px;padding-bottom: 11px;padding-right: 24px;padding-left: 24px;text-align:center;cursor:pointer;display: inline-block;" onmouseover="this.style.background='linear-gradient(#3e9e5d,#3e9e5d)';this.style.filter='progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e9e5d, endColorstr=#3e9e5d ,GradientType=0);'" ;="" onmouseout="this.style.background='linear-gradient(#3e9e5d,#3e9e5d)';this.style.filter='progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e9e5d, endColorstr=#3e9e5d ,GradientType=0);'">U Productivas</span>
                    </div>        
        </div><div class="vertical" style="width: 50%;"><div class="widget-wrapper widget-element button diy-resizable ">
        </div>        
        </div></div></div><div class="clearfix"></div>		<div class="clear"></div>
            </div>
        </div></div><div class="vertical" style="width: 17%;"><p></p></div></div></div><div class="clearfix"></div>		<div class="clear"></div>
            </div>
        </div>
        <div class="main-contain">
            
            <div class="articles">
                <article class="article box1">
                    <img class="img-article" src="../img/productos.jpg" alt="">
                    <h3>Unidades de Producción</h3>
                    <div class="borde-inferior"></div>
                    <div class="texto-articulo">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit non voluptate rerum cupiditate dolores reiciendis molestias velit earum fugit veritatis autem, excepturi commodi sunt?</p>
                    </div>
                </article>
                <article class=" article box2">
                    <img class="img-article" src="../img/productos2.jpg" alt="">
                    <h3>Productos</h3>
                    <div class="borde-inferior"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius cumque nihil assumenda, unde at earum provident similique quasi placeat dolores nulla vitae! Illo, nemo.</p>
                </article>
                <article class=" article box3">
                    <img class="img-article" src="../img/venta.png" alt="">
                        <h3>puntos de Venta</h3>
                        <div class="borde-inferior"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius cumque nihil assumenda, unde at earum provident similique quasi placeat dolores nulla vitae! Illo, nemo.</p>
                </article>
            </div>
        </div>
        <footer>
            <div class="top_pricing py-96 bg__gradient__1"><div class="container"><div class="align-items-center justify-content-center row"> 
                <address class="propietario">
                    <span class="icon-user"></span>Evelin Bermeo<br>  embermeo@misena.edu.co <br>
                        <img class="logoSena" src="../img/logoSena.png" alt="" width="150px" height="150px">
                </address>          
                <a href="https://www.facebook.com/manuela.bermeocalderon" target="_blank"><img src="../img/facebook.png" class="redes" alt="" width="50px" height="50px"></a>
                <a href="https://web.whatsapp.com/send?phone=573167390108" target="_blank" class="icon-wp" onclick="gtag('event', 'Click', {'event_category': 'Click Whatsapp Ecommerce', 'event_label': 'Click Whatsapp'})"><img src="../img/whatsapp.png" class="redes" alt="" width="50px" height="50px"></a>
                <a href="https://www.instagram.com/evelin_bermeo/?hl=es-la"  target="_blank"><img src="../img/instagram.png" class="redes" alt="" width="50px" height="50px"></a>
                <ul>           
                    <li><img src="../publicimg/IconoFacebook.jpg" alt="logo" class="logo-Principal"><a href="/food"></a></li>
                </ul>

                <p>Copyright &copy; 2021 Peter Doe, todos los derechos reservados.</p>
        </footer> 
        <footer > 
</body>
</html>
<script>s
var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel)
</script>