<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="css/fontello.css">
</head>
<body>
    <header>
     <img src="../img/centro_user.png" alt="logo" width="270px" height="80px" class="logo-Principal">
        <nav>
            <input class="menu_visible" type="checkbox" id="btn-menu">
            <label class="menu-h" for="btn-menu">&#9776</label>
            <ul class="menu">
                <li><a href="index.ejs">NOSOTROS</a></li>
                <li><a href="index.ejs">ACERCA DE</a></li>
                <li><a href="index.ejs">AYUDA</a></li>
                <li><a href="../views/registro.ejs"><span class="registrar" >EVELIN</span></a></li>
            </ul>
        </nav>
    </header>
         <div class="container">
    <h2>PRODUCTOS DE LA MEJOR CALIDAD</h2>

    <table>
        <tr>
             <th class="head-horizonal">PRODUCTO</th>
             <th class="head-horizonal">IMAGEN</th>
             <th class="head-horizonal">PRECIO</th>
             <th class="head-horizonal">STOCK</th>
             <th class="head-horizonal">DESCRIPCIÓN</th>
             <th class="head-horizonal"> <img src="../img/carrito-de-compras.png" width="20px" height="20px" alt=""></th>


        </tr>
        <tr>
             <td >YOGURTH</td>
             <td class="img"><img src="../img/yogurth.jpg" alt="yogurth" ></td>
             <td>$500.00</td>
             <td class="alin-center">120</td>
             <td class="alain-justificado">Yogurth con frutas.</td>
             <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>  
        </tr>
        <tr>
             <td >CHORIZO</td>
             <td class="img"> <img src="../img/chorizo.jpg" alt="chorizo"></td>
             <td>$1.000.00</td>
             <td class="alin-center">500</td>
             <td class="alain-justificado" >Chorizo de pollo</td>
             <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>  
        </tr>
        <tr>
             <td >AVENA</td>
             <td class="img"> <img src="../img/avena.jpg" alt="freestyle" ></td>
             <td>$2.000.00</td>
             <td  class="alin-center">600</td>
             <td class="alain-justificado">Avena en vaso</td>
             <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>  
        </tr>
        <tr>
             <td >CILANTRO</td>
             <td class="img"><img src="../img/cilantro.jpg" alt="cilantros" ></td>
             <td>$500.00</td>
          <td class="alin-center">300</td>
             <td class="alain-justificado">Hortalizas y verduras por Manojo</td>
             <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>    
        </tr>
        <tr>
             <td>CEBOLLA</td>
             <td class="img"><img src="../img/cebolla.jpg" alt="dos ruedas" ></td>
             <td>$800.00</td>
             <td class="alin-center">100</td>
             <td class="alain-justificado">Cebolla larga por libra</td>
             <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>  
        </tr>
        <tr>
             <td>TOMATE</td>
             <td class="img"><img src="../img/tomate.jpg" alt="tomate" ></td>
             <td>$1.500.00</td>
             <td class="alin-center">200</td>
             <td class="alain-justificado">Tomate Cerry por libra</td>
             <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>  
        </tr>
        <tr>
            <td>ALMUERZOS</td>
            <td class="img"><img src="../img/almuerzos.jpg" alt="almuerzo" ></td>
            <td>$5.000.00</td>
            <td class="alin-center">500</td>
            <td class="alain-justificado">Almuerzos especiales</td>
            <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>    
       </tr>
       <tr>
        <td>CACHAMA</td>
        <td class="img"><img src="../img/cachama.jpg" alt="scooter" ></td>
        <td>$4.500.00</td>
        <td class="alin-center">300</td>
        <td class="alain-justificado">Cachama Roja por libra</td>
        <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>   
        </tr>
        <tr>
            <td>TRUCHA</td>
            <td class="img"><img src="../img/trucha.jpg" alt="scooter" ></td>
            <td>$6.000.00</td>
            <td class="alin-center">140</td>
            <td class="alain-justificado">Trucha arreglada por libra</td>
            <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>    
       </tr>
       <tr>
        <td>CAFÉ</td>
        <td class="img"><img src="../img/cafe.jpg" alt="scooter" ></td>
        <td>$15.000.00</td>
        <td class="alin-center">700</td>
        <td class="alain-justificado">Café especial por libra</td>
        <th class="head-horizonal"><a href="#"><img src="../img/agregar-carrito.png" width="20px" height="20px" alt=""></a></th>  
        </tr>
    </table>
</div>
</body>
</html>