<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.js">
    <link href = "https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="../css/unidadesP.css">
    <link rel="stylesheet" href="..icons/all.css">
</head>
<body>
        <header>
            <img src="../img/centro_user.png" alt="logo" width="270px" height="80px" class="logo-Principal">
            <nav>
                <input class="menu_visible" type="checkbox" id="btn-menu">
                <label class="menu-h" for="btn-menu">&#9776</label>
                <ul class="menu">
                    <li><a href="index.ejs">NOSOTROS</a></li>
                    <li><a href="index.ejs">ACERCA DE</a></li>
                    <li><a href="index.ejs">AYUDA</a></li>
                    <li><a href="../views/registro.ejs"><span class="registrar" >EVELIN</span></a></li>
                </ul>
            </nav>
        </header>        <br><br>
        <h1>UNIDADES PRODUCTIVAS</h1>
        <div class="main-contain">
            <div class="articles">
                <article class="article box1">
                    <img class="img-article" src="../img/agropecuria.jpg" alt="">
                    <h3>Unidad de Producción Agropecuaria</h3>
                    <div class="borde-inferior"></div>
                    <div class="texto-articulo">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit non voluptate rerum cupiditate dolores reiciendis molestias velit earum fugit veritatis autem, excepturi commodi sunt?</p>
                    </div>
                </article>
                <article class=" article box2">
                    <img class="img-article" src="../img/agroindustria.png" alt="">
                    <h3>Unidad de Producción Agroindustria</h3>
                    <div class="borde-inferior"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius cumque nihil assumenda, unde at earum provident similique quasi placeat dolores nulla vitae! Illo, nemo.</p>
                </article>
                <article class=" article box3">
                    <img class="img-article" src="../img/pecuaria.jpg" alt="">
                        <h3>Unidad de Producción Pecuaria</h3>
                        <div class="borde-inferior"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius cumque nihil assumenda, unde at earum provident similique quasi placeat dolores nulla vitae! Illo, nemo.</p>
                </article>
                <article class=" article box4">
                    <img class="img-article" src="../img/gas.jpg" alt="">
                        <h3>Unidad de Producción Gastronomia</h3>
                        <div class="borde-inferior"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius cumque nihil assumenda, unde at earum provident similique quasi placeat dolores nulla vitae! Illo, nemo.</p>
                </article>
                <article class=" article box5">
                    <img class="img-article" src="../img/comercio.jpg" alt="">
                        <h3>Unidad de Producción Comercio</h3>
                        <div class="borde-inferior"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius cumque nihil assumenda, unde at earum provident similique quasi placeat dolores nulla vitae! Illo, nemo.</p>
                </article>
                <article class=" article box6">
                    <img class="img-article" src="../img/agronegocios.jpg" alt="">
                        <h3>Unidad de Producción Agronegocios</h3>
                        <div class="borde-inferior"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius cumque nihil assumenda, unde at earum provident similique quasi placeat dolores nulla vitae! Illo, nemo.</p>
                </article>
            </div>
        </div>
        <footer>
            <div class="top_pricing py-96 bg__gradient__1"><div class="container"><div class="align-items-center justify-content-center row"> 
                <address class="propietario">
                    <span class="icon-user"></span>Evelin Bermeo<br>  embermeo@misena.edu.co <br>
                        <img class="logoSena" src="../img/logoSena.png" alt="" width="150px" height="150px">
                </address> 
                <div class="redesSociales">        
                <a href="https://www.facebook.com/manuela.bermeocalderon" target="_blank"><img src="../img/facebook.png" class="redes" alt="" width="50px" height="50px"></a>
                <a href="https://web.whatsapp.com/send?phone=573167390108" target="_blank" class="icon-wp" onclick="gtag('event', 'Click', {'event_category': 'Click Whatsapp Ecommerce', 'event_label': 'Click Whatsapp'})"><img src="../img/whatsapp.png" class="redes" alt="" width="50px" height="50px"></a>
                <a href="https://www.instagram.com/evelin_bermeo/?hl=es-la"  target="_blank"><img src="../img/instagram.png" class="redes" alt="" width="50px" height="50px"></a>
                <ul>           
                    <li><img src="../publicimg/IconoFacebook.jpg" alt="logo" class="logo-Principal"><a href="/food"></a></li>
                </ul>
                </div> 
                
                <p>Copyright &copy; 2021 Peter Doe, todos los derechos reservados.</p>
        </footer> 
        <footer > 
</body>
</html>
<script>s
var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel)
</script>