*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}
h1 {

    margin-top: 50px;
    text-align: center;
    color: #c46201f6;
}
body {
    background-color: #fdfdff;
    color: #a58484;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
}
header {
    width: 100%;
    bottom: 0 !important;
}
header nav {
    background: #fff;
    width: 100%;
}
nav ul {
    list-style: none;
    text-align: right;
}
li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.857);
    margin: 5px 7px ;
    text-align: left;
}
nav ul li {
    display: inline-block;
    position: relative;  
    font-family: 'Oswald';     
}
nav ul li:hover {
    color: rgba(150, 139, 135, .8);
}
nav ul li a {
    color: #000000;
    display: block;
    text-decoration: none;
    padding: 10px; 
    font-family: 'Oswald';
    font-size: 1em;
}
.logo-Principal {
    float: left;
    z-index: 20;
    position: fixed;
} 
.menu_visible{
    visibility: hidden;
}
.menu-h {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2em;
    display: none;
    z-index: 10;
    color: white;
}
.registrar {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 20px 3px;
    margin: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    color: #fff;
    border: none;
    font-weight: 400;
    background: #dd4d82;
    background: -moz-linear-gradient(left,#ff8000f6 0%,#5d9d10 100%);
    background: -webkit-linear-gradient(left,#ff8000f6 0%,#5d9d10 100%);
    background: linear-gradient(to right,#ff8000f6 0%,#5d9d10 100%);
}
.img-article:hover {
    width: 110%;
}
.bg__gradient__1 {
    color: white;
    background: #dd4d82;
    background: -moz-linear-gradient(left,#d56b01f6 0%,#5d9d10 100%);
    background: -webkit-linear-gradient(left,#d56b01f6 0%,#5d9d10 100%);
    background: linear-gradient(to right,#d56b01f6 0%,#5d9d10 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center!important;
    width: 100%;

}
.articles {
    display: grid;
    color: black;
    width: 90%;
    margin: 50px auto;
    grid-template-columns: repeat(3,400px);
    gap: 60px;
    grid-template: "box1   box2     box3"    auto  
                   "box4   box5     box6"    auto     /
                    340px  350px    350px;

    justify-content: center;
}
.img-article {
    width: 350px; 
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.bo3 {
    grid-area: box3;
}
.social {
    height: 37px;
    margin: 0 -10px;
    padding: 0;
    text-align: left!important;
    color: #333;
}
.propietario {
    text-align: right;
}


@media only screen and (max-width: 1400px) {
    .img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 400px;
        
    }
    .articles {
        grid-template-columns: repeat(3,350px);
        gap: 40px;

       grid-template: "box1   box2     box3"    auto   /
                       350px   350px   350px;
   }
   .img-article:hover {
    width: 105%;
    }
}
@media only screen and (max-width: 1270px) {
    .img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 400px;
    }
    .articles {
        grid-template-columns: repeat(2, 400px);
       gap: 70px;
       grid-template: "box1     box2"      auto    
                      "box3     box4"      auto    /
                       400px        400px;
   }
   .img-article:hover {
    width: 105%;
    }
}
@media only screen and (max-width: 970px) {
    .img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 400px;
    }
    .articles {
        grid-template-columns: repeat(2, 350px);
        gap: 40px;
        
        grid-template: "box1     box2"      auto 
                       "box3     auto"  /
                        350px    350px;
    
    }
    .img-article:hover {
        width: 105%;
        }
}
@media only screen and (max-width: 800px) {
    nav {
        position: fixed;
        width: 100%;
        top: 0;
        background: white;
    }
    .logo-Principal {
        z-index: 20;
        position: fixed;

    }
    nav ul li a {
        color: #fff;
    }
    nav ul li {
        display: block;
        position: relative; 
        color: white;     
    }
    .menu-h {
        display: block;
        color: black;
    }
      header nav {
        height: 75px;
        z-index: 10;
     }  
     .menu {
        background: rgb(0,0,0,.8);
        width: 100%;
        right: 100%;
        padding-top: 50px;
        position: absolute;
        height: 100vh;
    }
    li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.857);
        margin: 25px 15px;
        text-align: left;
        display: block;
    }
    .registrar {
        display: flex;
        align-items: center;
        width: 70px;
        position: relative;
    }
    .img-article:hover {
        width: 105%;
        }
     a {
        color: white;
        display: block;
    } 
    .last-item {
        display: none;
    }
    .icono-spa {
        left: 30px;
    }
    #btn-menu {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 2em;
    }
    #btn-menu:checked ~ .menu{
        right: 0;
    }
    #btn-menu:checked ~ .menu-burger{
        color: white;
    }
    .img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 400px;
    }
    p {
        text-align: center;
        width: 360px;
        text-align: justify;
        color: black;

    }
    .articles {
        grid-template-columns: 1fr, auto;
        gap: 40px;

        grid-template: "box1"    auto    
                       "box2"    auto     /
                        minmax(auto, 400px);       
    }
}
